<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/login.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_bg">
		<a href="/index/login/密码登录" class="mui-icon mui-icon-left-nav mui-pull-left writer_color"></a>
		<h1 class="mui-title">找回密码</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_color">
		<div class="mui-scroll">
			<div class="logo_box">
				<img src="/static/index/img/登录logo@2x.png" class="img_pull">
			</div>
			<div class="public_box">
				<div class="input_box flexbox_nowrap border_bot">
					<img src="/static/index/img/账号@2x.png" class="img_size">
					<input type="text" id="phone" placeholder="请输入手机号">
				</div>
				<div class="input_box code_input flexbox_nowrap border_bot">
					<img src="/static/index/img/验证码@2x.png" class="img_size">
					<input type="text" id="sms_code" placeholder="请输入验证码">
					<a href="javascript:;" id="sendsms" class="blue_color">获取验证码</a>
				</div>
				<a href="###" class="a_big_btn a_btn submit_btn">确认</a>
			</div>
		</div>
	</div>

	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/layer/layer.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		var state = true;
		$('#sendsms').click(function () {
			var that = this
			if ( state && $(that).text() == '获取验证码') {
				state = false;
				second = 60;
				var countDown = setInterval(function () {
					second--
					$(that).text(second)
					if(second <= 0){
						clearInterval(countDown)
						$(that).text('获取验证码')
						state = true;
					}else {
						$('#sendsms').text(second+'s')
						state = false;
					}
				}, 1000)
				var phone = $("#phone").val();
				$.ajax({
					url: "/index/sms/" + phone + "/forget",
					type: "post",
					data: {phone: phone},
					success: function(data){
						data = JSON.parse(data);
						mui.toast(data.msg);
						if(data.code == 2){
							clearInterval(countDown)
							$(that).text('获取验证码')
							state = true;
						}else{
							$("#sms_code").val(data.data)
						}
					}
				})
			}
		})

		$(".submit_btn").click(function(){
			var phone = $("#phone").val()
			var sms_code = $("#sms_code").val()
			$.ajax({
				url: "/index/login/找回密码提交",
				type: "post",
				data: {phone: phone, sms_code: sms_code, type: "找回密码1"},
				success: function(data){
					data = JSON.parse(data)
					layer.msg(data.msg)
					if(data.code == 1){
						setTimeout(() => {
							location.href = "/index/login/找回密码2"
						}, 1000);
					}
				}
			})
		})
	</script>
</body>
</html>
