<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="actl1" style="margin-top: 15px;">
                <a href="/user">
                    <i class="la la-ellipsis-v"></i>
                    <p>首页</p>
                </a>
            </li>
            <li class="nav-item" id="actl2" style="margin-top: 15px;">
                <a href="/user/app/会员列表">
                    <i class="la la-street-view"></i>
                    <p>会员列表</p>
                </a>
            </li>
            <li class="nav-item" id="actl3" style="margin-top: 15px;">
                <a href="/user/app/会员消息">
                    <i class="la la-file-text"></i>
                    <p>会员消息</p>
                </a>
            </li>
            <li class="nav-item" id="actl4" style="margin-top: 15px;">
                <a href="/user/app/持有单挖算力管理">
                    <i class="la la-dropbox"></i>
                    <p>持有单挖算力管理</p>
                </a>
            </li>
            <li class="nav-item" id="actl5" style="margin-top: 15px;">
                <a href="/user/app/持有单挖租赁算力管理">
                    <i class="la la-cc-paypal"></i>
                    <p>持有单挖租赁算力管理</p>
                </a>
            </li>
            <li class="nav-item" id="actl6" style="margin-top: 15px;">
                <a href="/user/app/会员地址管理">
                    <i class="la la-bank"></i>
                    <p>会员地址管理</p>
                </a>
            </li>
            <li class="nav-item" id="actl7" style="margin-top: 15px;">
                <a href="/user/app/fil算力">
                    <i class="la la-cubes"></i>
                    <p>FIL算力</p>
                </a>
            </li>
            <li class="nav-item" id="actl8" style="margin-top: 15px;">
                <a href="/user/app/fil云算力">
                    <i class="la la-cc-mastercard"></i>
                    <p>FIL云算力</p>
                </a>
            </li>
            <li class="nav-item" id="actl9" style="margin-top: 15px;">
                <a href="/user/app/持有双挖算力管理">
                    <i class="la la-tasks"></i>
                    <p>持有双挖算力管理</p>
                </a>
            </li>
            <li class="nav-item" id="actl10" style="margin-top: 15px;">
                <a href="/user/app/持有双挖租赁算力管理">
                    <i class="la la-sitemap"></i>
                    <p>持有双挖租赁算力管理</p>
                </a>
            </li>
        </ul>
    </div>
</div>
