{extend name="base" /}

{block name="custom_css"}
<link rel="stylesheet" href="/static/dcalendar.picker/dcalendar.picker.css">
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">意见反馈管理</div>
                        <div class="card-sub text-warning">
                            意见反馈回复内容可多次回复, 回复内容会记录在本条记录内. 并且会以消息的方式发送给会员.
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" role="form" action="" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="user_id" id="user_id" value="{$user_id}" placeholder="会员ID">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="user_identity" id="user_identity" value="{$user_identity}" placeholder="{$user_identity_text}">
                            </div>
                            <div class="form-group">
                                <input id='mydatepicker1' type="text" class="form-control" name="start_time" placeholder="起始时间(包含所选日期)" value="" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input id='mydatepicker2' type="text" class="form-control" name="end_time" placeholder="结束时间(不包含所选日期)" value="" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-default" id="search_submit">搜索</button>&nbsp&nbsp
                            <button type="button" class="btn btn-default" id="from_close">清空</button>
                        </form>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" width="5%">#</th>
                                    <th scope="col" width="8%">会员id</th>
                                    <th scope="col" width="10%">手机号</th>
                                    <th scope="col" width="20%">内容</th>
                                    <th scope="col" width="30%">回复</th>
                                    <th scope="col" width="7%">状态</th>
                                    <th scope="col" width="10%">时间</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.user_id}</td>
                                    <td>{$vo.user_identity}</td>
                                    <td>{$vo->content}</td>
                                    <td id="reply{$vo.id}">{$vo->reply | raw}</td>
                                    <td id="status{$vo.id}">{$vo->status_text}</td>
                                    <td>{$vo->insert_time}</td>
                                    <td>
                                        {if condition="$vo.status == 0"}
                                        <button id="b1{$vo.id}" class="btn btn-warning btn-xs" onclick="reply('{$vo.id}')">回复</button>
                                        <button id="b2{$vo.id}" class="btn btn-danger btn-xs" onclick="item_status('{$vo.id}')">解决</button>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render() | raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script type="text/javascript" src="/static/dcalendar.picker/dcalendar.picker.js"></script>
<script type="text/javascript">
    $('#mydatepicker1').dcalendarpicker({
        format:'yyyy-mm-dd'
    });
    $('#mydatepicker2').dcalendarpicker({
        format:'yyyy-mm-dd'
    });

    setTimeout(function(){
        var start_time = "{$start_time}";
        var end_time = "{$end_time}";
        if(start_time != ''){
            $("#mydatepicker1").val(start_time);
        }
        if(end_time != ''){
            $("#mydatepicker2").val(end_time);
        }
    }, 200);

    function reply(id){
        layer.prompt({title: '请输入回复内容', formType: 2}, function(content, index){
            layer.close(index);
            $.ajax({
                url: "/admin/app/意见反馈回复",
                type: "post",
                data: {id: id, content: content},
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 1){
                        $("#reply" + id).html(data.data)
                    }else{
                        layer.msg('系统错误');
                    }
                }
            })
        });
    }

    function item_status(id){
        layer.confirm('是否要将此意见反馈设置为已解决', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/app/意见反馈状态",
                type: "post",
                data: {id: id},
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '意见反馈状态', data.msg);
                    }else if(data.code == 2){
                        custom_notify('warning', '意见反馈状态', data.msg);
                    }else if(data.code == 1){
                        $("#b1" + id).hide();
                        $("#b2" + id).hide();
                        $("#status" + id).html('已解决')
                        custom_notify('success', '意见反馈状态', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }

    $("#from_close").click(function(){
        $("#user_id").val('');
        $("#user_identity").val('');
        $("#mydatepicker1").val('');
        $("#mydatepicker2").val('');
        $("#search_submit").click();
    })

</script>
{/block}