{extend name="base" /}

{block name="custom_css"}
{/block}

{block name="content"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">活动管理</div>
                        <div class="card-sub text-warning">

                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" action="" method="post">
                            <button type="button" class="btn btn-success btn-xs" id="add" style="float: left;">添加</button>
                        </form>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" width="10%">图片</th>
                                    <th scope="col">标题</th>
                                    <th scope="col">副标题</th>
                                    <th scope="col">活动时间</th>
                                    <th scope="col">添加时间</th>
                                    <th scope="col">状态</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                <tr id="tr">
                                    <td>{$vo.id}</td>
                                    <td>
                                        {if condition="$vo->列表图 != ''"}
                                        <img id="image{$vo.id}" src="{$vo->列表图}" width="120px" height="40px" onclick="show_image('{$vo.id}')"/>
                                        {/if}
                                    </td>
                                    <td>{$vo->标题}</td>
                                    <td>{$vo->副标题}</td>
                                    <td>{$vo->活动时间}</td>
                                    <td>{$vo->insert_time}</td>
                                    <td id="status{$vo.id}">{$vo->status_text}</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs" onclick="look('{$vo.id}')">查看</button>
                                        <button class="btn btn-warning btn-xs" onclick="update('{$vo.id}')">修改</button>
                                        <button id="b{$vo.id}0" class="btn btn-danger btn-xs" onclick="item_status('{$vo.id}', '0')" {if condition="$vo.status == 0"}style="display:none;"{/if}>隐藏</button>
                                        <button id="b{$vo.id}1" class="btn btn-danger btn-xs" onclick="item_status('{$vo.id}', '1')" {if condition="$vo.status == 1"}style="display:none;"{/if}>展示</button>
                                        <button id="b{$vo.id}2" class="btn btn-danger btn-xs" onclick="item_status('{$vo.id}', '2')" {if condition="$vo.status == 2"}style="display:none;"{/if}>首页展示</button>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        {$list->render() | raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<div class="content" id="c">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="form-control markdown-body" name="content" id="content_show"></div>
                </div>
            </div>
        </div>
    </div>
<script>
    //添加
    $("#add").click(function(){
        location.href = "/admin/app/活动添加";
    })

    function look(id){
        $.ajax({
            url: "/admin/app/活动内容",
            type: "post",
            data: {id: id},
            success: function(data){
                data = JSON.parse(data);
                if(data.code == 1){
                    $("#content_show").html(data.data);
                    layer.open({
                        type: 1,
                        area: '600px',
                        shade: false,
                        title: false,
                        content: $('#c')
                    });
                }else{
                    layer.msg('系统错误');
                }
            }
        })
    }

    //修改
    function update(id){
        location.href = "/admin/app/活动修改?id=" + id;
    }
    //删除
    function item_status(id, status){
        layer.confirm('是否要修改此活动状态', {
            btn: ['是','否']
        }, function(){
            $.ajax({
                url: "/admin/app/活动状态",
                type: "post",
                data: {id: id, status: status},
                success: function(data){
                    data = JSON.parse(data);
                    if(data.code == 3){
                        custom_notify('danger', '活动状态修改', data.msg);
                    }else if(data.code == 2){
                        custom_notify('warning', '活动状态修改', data.msg);
                    }else if(data.code == 1){
                        $("#b" + id + "0").show();
                        $("#b" + id + "1").show();
                        $("#b" + id + "2").show();
                        $("#b" + id + status).hide();
                        $("#status" + id).html(data.data)
                        custom_notify('success', '活动状态修改', data.msg);
                    }
                }
            })
            layer.closeAll();
        });
    }
</script>
{/block}