<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		.number_box{
			width: 100px;text-align: right;
		}
		.border_bot input{
			padding-left: 0;
		}
		.change_coin{
			display: none;
		}
		.change_coin .message_reply{
			height: 250px;
		}
		.change_coin .message_reply .mui-text-right{
			padding-right: 0.625rem;
			font-size: 20px;
			padding-top: 0.3125rem;
		}
		.change_coin .message_reply .title{
			padding-top: 0;
		}
		.change_coin .border_bot{
			border-color: #f7f7f7;
			margin:0 0.625rem 0.625rem ;
		}
		.radio_box input[type=radio]+label{
			border-color: #333;
		}
		.radio_box input[type=radio]:checked + label{
			background-image: url(/static/index/img/radio2.png);
		}
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_bg">
		<a href="/index/me" class="mui-icon mui-icon-left-nav mui-pull-left writer_color"></a>
		<h1 class="mui-title">提币</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_color">
		<div class="mui-scroll">
			<div class="public_box">
				<div class="public_box_bg">
					<div class="flexbox_nowrap flexbox_nowrap_between border_bot">
						<div>提现币种</div>
						<div class="coin_list"><span class="coin_active">选择币种</span> <span class="mui-icon mui-icon-forward"></span> </div>
					</div>
					<div class="flexbox_nowrap flexbox_nowrap_between border_bot" id="USDT" style="display: None;">
						<div>USDT余额</div>
						<div class="blue_color" id="USDT_number">{$user.userfund.USDT}</div>
					</div>
					<div class="flexbox_nowrap flexbox_nowrap_between border_bot" id="FIL" style="display: None;">
						<div>FIL余额</div>
						<div class="blue_color" id="FIL_number">{$user.userfund.FIL}</div>
					</div>
				</div>
				<div class="public_box_bg">
					<div>提币地址：</div>
					<div class="border_bot">
						<input type="text" id="address" placeholder="请输入提币地址">
					</div>
					<div>地址备注：</div>
					<div class="border_bot">
						<input type="text" id="remark" placeholder="请输入备注">
					</div>
				</div>
				<div class="public_box_bg">
					<div>数量：</div>
					<div class="border_bot flexbox_nowrap flexbox_nowrap_between " style="display: None;" id="USDT_number_div">
						<input type="text" name="coin" id="USDT_number_input" placeholder="单次最小提币数量为5USDT">
						<div class="number_box"><i class="coin_type">USDT</i><span class="blue_color all_btn"> 全部</span>
						</div>
					</div>
					<div class="border_bot flexbox_nowrap flexbox_nowrap_between " style="display: None;" id="FIL_number_div">
						<input type="text" name="coin" id="FIL_number_input" placeholder="单次最小提币数量为1FIL">
						<div class="number_box"><i class="coin_type">FIL</i><span class="blue_color all_btn"> 全部</span>
						</div>
					</div>
					<!-- <p>手续费：</p>
					<div class="border_bot flexbox_nowrap flexbox_nowrap_between">
						<div class="blue_color">2000</div>
						<div class="coin_type">USDT</div>
					</div>
					<p>实际到账数量：</p>
					<div class="border_bot flexbox_nowrap flexbox_nowrap_between">
						<div class="blue_color">2000</div>
						<div class="coin_type">USDT</div>
					</div> -->
				</div>
				<a href="javascript:;" class="a_btn a_big_btn" id="sub">确认</a>
			</div>
		</div>
	</div>
	<div class="mui-backdrop reply_show change_coin">
		<div class="message_reply">
			<div class="mui-text-right black_color close">x</div>
			<div class="title mui-text-center black_color">币种选择</div>
			<div class="message_reply_content_my">
				<div class="border_bot flexbox_nowrap flexbox_nowrap_between">
					<div class="black_color">USDT</div>
					<div class="radio_box">
						<input type="radio" value="USDT" name="coin_list">
						<label id="one"></label>
					</div>
				</div>
				<div class="border_bot flexbox_nowrap flexbox_nowrap_between">
					<div class="black_color">FIL</div>
					<div class="radio_box">
						<input type="radio" value="FIL" name="coin_list">
						<label id="one"></label>
					</div>
				</div>
			</div>
			<div class="">
				<a href="javascript:;" class="a_big_btn a_btn coin_btn">确定</a>
			</div>
		</div>
	</div>
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/layer/layer.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		$('.all_btn').click(()=>{
			// console.log($(".coin_type").html())
			// console.log($('#' + $(".coin_type").html() + '_number').html())
			$('input[id="' + $(".coin_type").html() + '_number_input' + '"]').val($('#' + $(".coin_type").html() + '_number').html())
		})
		$('.coin_active').click(()=>{
			$('.change_coin').show()
		})
		$('.close').click(()=>{
			$('.change_coin').hide()
		})
		$('.coin_btn').click(()=>{
			let change_coin =$('input[name="coin_list"]:checked').val()
			if(change_coin){
				$('.coin_active').html(change_coin)
				$('.change_coin').hide()
			}else{
				mui.toast('请选择币种')
			}
			$("#USDT").hide()
			$("#FIL").hide()
			$("#FIL_number_div").hide()
			$("#USDT_number_div").hide()
			$("#" + change_coin).show()
			$("#" + change_coin + '_number_div').show()
			$(".coin_type").html(change_coin)
			// console.log(change_coin)
		})

		$("#sub").click(function(){
			var coin_type = $(".coin_active").html();
			var address = $("#address").val();
			var remark = $("#remark").val();
			var number = $("#" + coin_type + '_number_input').val();
			$.ajax({
				url: "/index/me/提现提交",
				type: "post",
				data: {coin_type: coin_type, address: address, remark: remark, number: number},
				success: function(data){
					data = JSON.parse(data)
					layer.msg(data.msg)
					if(data.code == 1){
						setTimeout(() => {
							location.href = "/index/me";
						}, 1500);
					}
				}
			})
		})
	</script>
</body>
</html>
