<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style type="text/css">
		
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_bg">
		<a href="/index/me" class="mui-icon mui-icon-left-nav mui-pull-left writer_color"></a>
		<h1 class="mui-title">帮助</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_color">
		<div class="mui-scroll">
			<div class="public_box">
				<div class="public_box_bg">
					<a href="/index/内容详情?sign=资产详解" class="flexbox_nowrap flexbox_nowrap_between border_bot">
						<div>资产详解</div>
						<div class="mui-icon mui-icon-forward"></div>
					</a>
					<a href="/index/内容详情?sign=如何修改交易密码" class="flexbox_nowrap flexbox_nowrap_between border_bot">
						<div>如何修改交易密码</div>
						<div class="mui-icon mui-icon-forward"></div>
					</a>
					<a href="/index/内容详情?sign=如何修改登录密码" class="flexbox_nowrap flexbox_nowrap_between border_bot">
						<div>如何修改登录密码</div>
						<div class="mui-icon mui-icon-forward"></div>
					</a>
					<a href="/index/内容详情?sign=如何邀请好友" class="flexbox_nowrap flexbox_nowrap_between border_bot">
						<div>如何邀请好友</div>
						<div class="mui-icon mui-icon-forward"></div>
					</a>
				</div>
				<a href="/index/login/退出登录" class="a_big_btn a_btn">退出登录</a>
			</div>
		</div>
	</div>
	
	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
