<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/static/index/js/mui.min.js"></script>
    <link href="/static/index/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/public.css"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<link rel="stylesheet" type="text/css" href="/static/index/css/my_hashrate.css"/>
	<style type="text/css">
		
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav head_bg">
		<a href="/index/me" class="mui-icon mui-icon-left-nav mui-pull-left writer_color"></a>
		<h1 class="mui-title">我的算力</h1>
	</header>
	<div class="mui-content mui-scroll-wrapper content_color">
		<div class="mui-scroll">
			<div class="top">
				<div class="mui-text-center">累计收益</div>
				<div class="flexbox_nowrap flexbox_nowrap_center">
					<h3>{$lj}</h3>
					<div> FIL</div>
				</div>
				<div class="mui-row">
					<div class="mui-col-sm-6 mui-col-xs-6 mui-text-center">
						<div>有效算龄</div>
						<div class="blue_color">{$yx}T/天</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6 mui-text-center">
						<div>历史最高算龄</div>
						<div class="blue_color">{$max_yx}T/天</div>
					</div>
				</div>
			</div>
			<div class="public_box">
				<div class="public_box_bg move_top">
					<div class="getRecordTit mui-segmented-control">
						<a href="#get1" class="mui-control-item mui-active">单挖算力</a>
						<a href="#get2" class="mui-control-item">双挖算力</a>
					</div>
					<div class="getRecordList mui-content-padded">
						<div id="get1" class="mui-control-content mui-active">
							<div class="border_bot flexbox_nowrap flexbox_nowrap_between">
								<div>我的总算力</div>
								<div class="blue_color">{$yx}T</div>
							</div>
							{volist name="mymills" id="vo"}
							<div class="index_center">
								<a href="###" class="location_jump">
									<div class="flexbox_nowrap flexbox_nowrap_start">
										<img src="/static/index/img/-s-图层5@2x.png">
										<img src="/static/index/img/-s-图层8@2x.png">
										<div>{$vo->mill->名称}</div>
									</div>
									<div class="gray_color">IPFS全网算力领先矿池</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>单份存力</div>
										<div class="blue_color">{$vo->mill->单份存力} TB</div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>数量</div>
										<div class="blue_color">{$vo.number}</div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>总价格</div>
										<div> <span class="blue_color">{$vo->总价}</span> USDT </div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>剩余周期</div>
										<div class="blue_color">{$vo->剩余周期} 天</div>
									</div>
								</a>
							</div>
							{/volist}
							{volist name="myzmills" id="vo"}
							<div class="index_center">
								<a href="###" class="location_jump">
									<div class="flexbox_nowrap flexbox_nowrap_start">
										<img src="/static/index/img/-s-图层5@2x.png">
										<div>{$vo->mill->名称}</div>
									</div>
									<div class="gray_color">IPFS全网算力领先矿池</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>单份存力</div>
										<div class="blue_color">{$vo->mill->单份存力}</div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>数量</div>
										<div class="blue_color">{$vo.number}</div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>总价格</div>
										<div> <span class="blue_color">{$vo->总价}</span> USDT </div>
									</div>
									<div class="flexbox_nowrap flexbox_nowrap_between">
										<div>剩余周期</div>
										<div class="blue_color">{$vo->剩余周期} 天</div>
									</div>
								</a>
							</div>
							{/volist}
						</div>
						<div id="get2" class="mui-control-content">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/static/index/js/jquery.min.js"></script>
	<script src="/static/index/js/public.js"></script>
	<script type="text/javascript">
		// $('.location_jump').click(()=>{
		// 	localStorage.setItem('jump','my_hashrate.html')
		// })
	</script>
</body>
</html>
